<div class="container" id="cont-about">
  <div class="main-about">
    <%= img_tag "" %>
    <div class="about-text">
      <p></p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div id="about-text">
      <p></p>
      <p></p>
    </div>
  </div>
</div>